body .container .row {
    padding-top: 10px;
}

.userImg {
    max-height: 40px;
}

.link-nav {
    color: white;
}

.link-nav:hover {
    color: white;
    text-decoration: none;
}

.messageBody {
    height: 475px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*  for fading react component */
.JoinLeft-enter {
    opacity: 0.01;
}

.JoinLeft-enter.JoinLeft-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.JoinLeft-leave {
    opacity: 1;
}

.JoinLeft-leave.JoinLeft-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/* for friend is typing */
.typingText {
    color: #1a1a1a;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    height: 15px;
}
