body .container .row {
    padding-top: 10px;
}

.userImg {
    max-height: 40px;
}

.link-nav {
    color: white;
}

.link-nav:hover {
    color: white;
    text-decoration: none;
}

.messageBody {
    height: 475px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* nah nah! */

.example-enter {
    opacity: 0.01;
}

.example-enter.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
