html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
}

/* custom css */
.userImg {
    max-height: 40px;
}

.link-nav {
    color: white;
}

.link-nav:hover {
    color: white;
    text-decoration: none;
}

.messageBody {
    max-height: 550px;
    min-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.pre-panel-style {
    padding: 0;
}

.panel-extra {
    margin-bottom: 0;
}

/*  for fading react component */
.JoinLeft-enter {
    opacity: 0.01;
}

.JoinLeft-enter.JoinLeft-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.JoinLeft-leave {
    opacity: 1;
}

.JoinLeft-leave.JoinLeft-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.MessageEvent {
    margin-bottom: 0;
}

/* for friend is typing */

.typingText {
    color: #1a1a1a;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    height: 15px;
}


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
